@page "/apps"

<div class="container">
    <div class="post-wrap">
        <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
        <ul>
            <li>
                <a target="_blank" href="https://www.bilibili.com/"><h3>我最爱的霹雳霹雳</h3></a>
            </li>
            <li>
                <NavLink href="/friendlinks"><h3>友情链接</h3></NavLink>
            </li>
        </ul>
    </div>
</div>