<div class="chips">
    @for (int i = 0; i < Items.Count; i++)
    {
        int j = i;// Prevent modified closure issue

        <button type="button"
                class="pill @(Selected[i] != 0 ? "selected" : null)"
                role="checkbox"
                aria-checked="@(Selected[i] != 0)"
                @onclick="async () => await OnClick?.Invoke(j)">
            @Items[i]
        </button>
    }
</div>