/* 1. 链接：使用主题主色，带下划线 */
::deep a {
    text-decoration: underline;
}

/* 强制穿透修改 Prism 的默认盒子 */
::deep pre[class*="language-"] {
    background-color: transparent; /* 去掉背景 */
    border: 1px solid var(--mud-palette-divider); /* 使用 MudBlazor 的边框色 */
    border-radius: 8px;
    padding: 1.25rem;
    box-shadow: none; /* 去掉 Prism 可能带的阴影 */
}

/* 调整代码文字字体 */
::deep code[class*="language-"] {
    font-family: 'Cascadia Code', 'Consolas', monospace;
}
