@page "/"

@* 使用 d-flex flex-column 实现垂直排布 
   align-center 和 justify-center 实现水平和垂直居中 
   min-height: 60vh 确保内容在视觉上处于页面的正中间偏上位置 
*@
<MudContainer Class="d-flex flex-column align-center justify-center" Style="min-height: 60vh;">

    @* 头像区：使用 MudAvatar，加了一点阴影 (mud-elevation-2) 让它更有立体感 *@

    <MudAvatar Style="width: 100px; height: 100px;"
               Class="mb-4 mud-elevation-2">
        <MudImage Src="https://avatars.githubusercontent.com/u/68407466?s=96&v=4"></MudImage>
    </MudAvatar>

    @* 昵称 *@
    <MudText Typo="Typo.h4" Class="mb-2" Style="font-weight: bold;">
        AIFSKATE
    </MudText>

    @* 描述信息：使用 Align="Align.Center" 确保内部文字换行时也是居中的 *@
    <MudText Typo="Typo.body1" Align="Align.Center" Class="mb-6">
        学无止境<br />
        Knowledge has no limit
    </MudText>

    @* 底部图标链接区：使用 gap-4 保持按钮之间的间距 *@
    <div class="d-flex gap-4">
        @* <MudTooltip Text="Posts">
            <MudIconButton Href="posts" Icon="@Icons.Material.Filled.MenuBook" Color="Color.Default" />
        </MudTooltip> *@

        <MudTooltip Text="Mail">
            <MudIconButton Target="_blank" Href="mailto:AIFSKATE@outlook.com" Icon="@Icons.Material.Outlined.MailOutline" />
        </MudTooltip>

        <MudTooltip Text="Github">
            <MudIconButton Target="_blank" Href="https://github.com/AIFSKATE" Icon="@Icons.Custom.Brands.GitHub"/>
        </MudTooltip>
    </div>

</MudContainer>