@page "/"

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar">
                <a href="javascript:;"><img src="https://avatars.githubusercontent.com/u/68407466?s=96&v=4"></a>
            </div>
            <div class="nickname">AIBlog</div>
            <div class="description">
                <p>
                    学无止境
                    <br>Knowledge has no limit
                </p>
            </div>
            <div class="links">
                <NavLink class="link-item" title="Posts" href="posts">
                    <i class="iconfont iconread"></i>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="Notes">
                    <i class="iconfont iconnotes"></i>
                </NavLink>
                <NavLink class="link-item" title="Manage" href="auth">
                    <i class="iconfont iconcode"></i>
                </NavLink>
                <NavLink target="_blank" class="link-item" title="Github" href="https://github.com/AIFSKATE">
                    <i class="iconfont icongithub"></i>
                </NavLink>
            </div>
        </div>
    </div>
</div>