@page "/"
@using MudBlazor

<div class="home-container">
    <MudPaper Class="home-card" Elevation="8">
        <div class="home-avatar">
            <MudAvatar Size="Size.Large" image="https://avatars.githubusercontent.com/u/68407466?s=200&v=4" />
        </div>
        
        <MudText Typo="Typo.h3" Class="home-title" GutterBottom="true">
            AIBlog
        </MudText>
        
        <MudText Typo="Typo.body1" Class="home-description" GutterBottom="true">
            学无止境
            <br />
            Knowledge has no limit
        </MudText>
        
        <div class="home-links">
            <MudTooltip Text="Posts" Placement="Placement.Bottom">
                <NavLink class="home-link-item" href="posts">
                    <MudIcon Icon="@Icons.Material.Filled.Article" Class="home-link-icon" />
                </NavLink>
            </MudTooltip>
            
            <MudTooltip Text="Notes" Placement="Placement.Bottom">
                <a class="home-link-item" target="_blank">
                    <MudIcon Icon="@Icons.Material.Filled.Note" Class="home-link-icon" />
                </a>
            </MudTooltip>
            
            <MudTooltip Text="Manage" Placement="Placement.Bottom">
                <NavLink class="home-link-item" href="auth">
                    <MudIcon Icon="@Icons.Material.Filled.Code" Class="home-link-icon" />
                </NavLink>
            </MudTooltip>
            
            <MudTooltip Text="GitHub" Placement="Placement.Bottom">
                <a class="home-link-item" href="https://github.com/AIFSKATE" target="_blank">
                    <MudIcon Icon="@Icons.Material.Filled.Code" Class="home-link-icon" />
                </a>
            </MudTooltip>
        </div>
    </MudPaper>
</div>
