@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="wrapper">
    <Header/>
    <main class="content">
        <MudMainContent>
            @Body
        </MudMainContent>
    </main>
    <Footer/>
</div>
