@page "/admin/post/{id:int}"
@page "/admin/post"

<AdminLayout>

    <div class="toolbar">
        <div class="toolbar-item">
            <div class="label">Tags:</div>
            <Chips Items=TempoTags IsCheckBox=true></Chips>
        </div>
        <div class="toolbar-item">
            <div class="label">Categories:</div>
            <Chips Items=TempoCategories IsCheckBox=false></Chips>
        </div>
        <button class="btn-pill" @onclick=OnSubmit>Submit</button>
    </div>

    <div class="grid-container">
        <!-- 左边输入 -->
        <div class="left-panel">
            <textarea @bind="InputText" @bind:event="oninput" placeholder="请输入原始文字..."></textarea>
        </div>

        <!-- 右边展示 -->
        <div class="right-panel">
            <div class="output-box">
                @if (string.IsNullOrWhiteSpace(InputText))
                {
                    <em>这里将显示你的输入内容...</em>
                }
                else
                {
                    <p>@((MarkupString)HtmlText)</p>
                }
            </div>
        </div>
    </div>


</AdminLayout>